body {
  background-color: #447da3;
}
.App {
  text-align: center;
  margin: 20px;
  background-color: white;
  padding: 30px;
  border-radius: 60px;
  position: relative;
  top: 0px;
}


.funny {
  
}

.fullWidth {
  width: 100%;
}

.notFunny:hover {
  opacity: 0;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.voteBTN {
  background: #ffea00;
  background-image: -webkit-linear-gradient(top, #ffea00, #a65ea6);
  background-image: -moz-linear-gradient(top, #ffea00, #a65ea6);
  background-image: -ms-linear-gradient(top, #ffea00, #a65ea6);
  background-image: -o-linear-gradient(top, #ffea00, #a65ea6);
  background-image: linear-gradient(to bottom, #ffea00, #a65ea6);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 5px;
  text-decoration: none;
}

.voteBTN:hover {
  background: #e6df57;
  background-image: -webkit-linear-gradient(top, #e6df57, #447da3);
  background-image: -moz-linear-gradient(top, #e6df57, #447da3);
  background-image: -ms-linear-gradient(top, #e6df57, #447da3);
  background-image: -o-linear-gradient(top, #e6df57, #447da3);
  background-image: linear-gradient(to bottom, #e6df57, #447da3);
  text-decoration: none;
}

.voteContainer {
  padding-top: 40px;
}


